<md-content layout="row" layout-align="space-around" layout-padding="layout-padding" class="login-form">
    <md-card flex="flex" flex-gt-sm="50" flex-gt-md="33">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2><span>Welcome!</span></h2>
            </div>
        </md-toolbar>
        <md-card-content>
            <form name="userForm" ng-submit="getName(name)">
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Name</label>
                    <input  required name="name" ng-model="name" />
                    <div ng-messages="userForm.name.$error"  role="alert" multiple="">
                        <div ng-message="required">Name is required.</div>
                    </div>
                </md-input-container>

                <md-button ng-disabled="!userForm.$valid"  type="submit"  class="md-raised md-primary">&nbsp; Continue &nbsp;</md-button>
            </form>
        </md-card-content>
    </md-card>
</md-content>