<md-content layout="row" layout-align="space-around" layout-padding="layout-padding" class="login-form">
    <md-card flex="flex" flex-gt-sm="50" flex-gt-md="33">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2><span>Welcome {{UserName}}! </span></h2>
            </div>
        </md-toolbar>
        <md-card-content>
            <wizard on-finish="finishedWizard(questions)" indicators-position="top">
                <wz-step wz-title="{{$index+1}}" ng-repeat="q in questions">
                    <p>{{q.question}}</p>
                    <md-radio-group class="md-primary radio-green" ng-model="q.selected" ng-change="nextQuestion()">
                        <md-radio-button aria-labelledby="{{q.choice1}}" value="1">{{q.choice1}}</md-radio-button>
                        <md-radio-button aria-labelledby="{{q.choice2}}" value="2">{{q.choice2}}</md-radio-button>
                        <md-radio-button aria-labelledby="{{q.choice3}}" value="3">{{q.choice3}}</md-radio-button>
                        <md-radio-button aria-labelledby="{{q.choice4}}" value="4">{{q.choice4}}</md-radio-button>
                        <md-radio-button aria-labelledby="{{q.choice5}}" value="5">{{q.choice5}}</md-radio-button>
                    </md-radio-group>
                    <!--<md-button type="submit" wz-next class="md-primary md-raised" ng-disabled="!q.selected" ng-if="!$last">Next</md-button>
                    <md-button type="submit" wz-next class="md-accent md-raised" ng-disabled="!q.selected" ng-if="$last">Finish</md-button>-->
                </wz-step>
                <!--<wz-step wz-title="Starting">
                    <h1>This is the first step</h1>
                    <p>Here you can use whatever you want. You can use other directives, binding, etc.</p>
                    <input type="submit" wz-next value="Continue" />
                </wz-step>
                <wz-step wz-title="Continuing">
                    <h1>Continuing</h1>
                    <p>You have continued here!</p>
                    <input type="submit" wz-next value="Go on" />
                </wz-step>
                <wz-step wz-title="More steps">
                    <p>Even more steps!!</p>
                    <input type="submit" wz-next value="Finish now" />
                </wz-step>-->
            </wizard>
        </md-card-content>
    </md-card>
</md-content>